* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.165;
}

body {
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  margin: 25px 15px 25px 15px;
  text-align: center;
}

.members {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 640px) {
  .members {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}

.members img {
  max-width: 6em;
  font-size: 50px;
}

@media (max-width: 640px) {
  .members img {
    max-width: 90%;
  }
}

.members p {
  font-size: 50px;
  cursor: help;
}

@media (max-width: 470px) {
  .members p {
    font-size: 30px;
  }
}