* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.165;
}

body {
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  margin: 25px 15px 25px 15px;
  text-align: center;
}

.members {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 640px) {
  .members {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}

.members img {
  max-width: 6em;
  font-size: 50px;
}

@media (max-width: 640px) {
  .members img {
    max-width: 90%;
  }
}

.member-name {
  font-size: 50px;
  cursor: help;
}

@media (max-width: 470px) {
  .member-name {
    font-size: 30px;
  }
}

.shake {
  animation: shaking 0.3s cubic-bezier(.36,.07,.19,.97);
}

@keyframes shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  10% { transform: translate(-20px, -10px) rotate(-3deg); }
  20% { transform: translate(15px, 10px) rotate(3deg); }
  30% { transform: translate(-25px, 5px) rotate(-2deg); }
  40% { transform: translate(20px, -15px) rotate(2deg); }
  50% { transform: translate(-15px, 10px) rotate(-3deg); }
  60% { transform: translate(25px, -10px) rotate(3deg); }
  70% { transform: translate(-20px, 15px) rotate(-2deg); }
  80% { transform: translate(15px, -10px) rotate(2deg); }
  90% { transform: translate(-10px, 5px) rotate(-1deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}