* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.165;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  margin: 25px 15px 25px 15px;
  text-align: center;
}

.members {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 640px) {
  .members {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}

.members img {
  max-width: 6em;
  font-size: 50px;
}

@media (max-width: 640px) {
  .members img {
    max-width: 90%;
  }
}

.member-name {
  font-size: 50px;
  cursor: help;
}

@media (max-width: 470px) {
  .member-name {
    font-size: 30px;
  }
}

footer {
  padding-top: 500px;
  padding: top;
  bottom: 0;
}

.link-button {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-right: 10px;
}

.stef1428-button, .thk-button, .teez-button {
  transition: transform 0.2s ease;
}

.stef1428-button:hover, .thk-button:hover, .teez-button:hover {
  transform: scale(1.1);
}



