* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.165;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #FDFDF1;
  background-color: #2b323f;
}

header {
  display: flex;
  justify-content: center;
}

.header-logo {
  justify-content: center;
  perspective: 800px;
  display: inline-block;
}

.header-logo img {
  width: 130px;
  border-radius: 10px;
  transition: transform 0.2s ease;
  transform-style: preserve-3d;
  user-select: none;
  cursor: pointer;
  display: block;
  justify-content: center;
}

.header-logo h3 {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  padding-top: 100px;
  margin: 25px 15px 25px 15px;
}

.main-cards-members {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.card-teez {
  order: 2;
  width: 300px;
  height: 300px;
  display: flex;
  border: 1px solid rgba(221, 155, 205, 0.699);
  padding: 14px 16px;
  border-radius: 10px;
  max-width: 300px;
  max-height: 300px;
  background: url(../images/nikita.jpg);
  background-size: cover;
  box-shadow: 0 0 15px black;
}

.card-teez:hover {
  box-shadow: 0 0 15px rgba(221, 81, 221, 0.527);
}

.card-title-teez {
  display: flex;
  font-weight: 900;
  filter: drop-shadow(0 0 1px rgb(167, 65, 167));
  justify-content: center;
  width: 100%;
}

.card-stef1428 {
  order: 0;
  width: 300px;
  height: 300px;
  display: flex;
  border: 1px solid rgba(146, 221, 33, 0.849);
  padding: 14px 16px;
  border-radius: 10px;
  max-width: 300px;
  max-height: 300px;
  background: url(../images/stepan.jpg);
  background-size: cover;
  box-shadow: 0 0 15px black;
}

.card-stef1428:hover {
  box-shadow: 0 0 15px rgba(76, 230, 4, 0.377);
}

.card-title-stef1428 {
  display: flex;
  font-weight: 900;
  filter: drop-shadow(0 0 1px rgb(152, 252, 86));
  justify-content: center;
  width: 100%;
}

.card-thk {
  order: 1;
  width: 300px;
  height: 300px;
  display: flex;
  border: 1px solid rgb(235, 173, 19);
  padding: 14px 16px;
  border-radius: 10px;
  max-width: 300px;
  max-height: 300px;
  background: url(../images/vladislav.jpg);
  background-size: cover;
  box-shadow: 0 0 15px black;
}

.card-thk:hover {
  box-shadow: 0 0 15px rgba(233, 193, 13, 0.377);
}

.card-title-thk {
  display: flex;
  font-weight: 900;
  filter: drop-shadow(0 0 1px rgb(243, 189, 41));
  justify-content: center;
  width: 100%;
}

footer {
  padding-top: 300px;
  padding: top;
  bottom: 0;
}

.link-button {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-right: 10px;
}

.stef1428-button, .thk-button, .teez-button {
  transition: transform 0.2s ease;
}

.stef1428-button:hover, .thk-button:hover, .teez-button:hover {
  transform: scale(1.1);
}

@media (max-width: 430px) {
  .main-cards-members {
    flex-direction: column;
    align-items: center;
    gap: 13px;
  }

  .container {
    padding-top: 20px;
  }

  footer {
    padding-top: 0px;
  }
}
