:root {
    --text-color: #f5f5f5;
    --background-color: #ffd6fa;
    --border-color: #cd5378;
    --focus-color: #f1e3b47e;
    --hover-color: #7ad194a4;
    --accentless-color: #dadada8f;
    --green-color: #25fc65a4;
    --orange-color: #eb9b24dc;
    --pink-color: #ff96bf;
    --pink2-color: #cd5378;
    --pink3-color: #ac4463;
    --yellow-color: #fbff00dc;
    --blue-color: #246aebdc;
    --purple-color: #9124ebdc;
    --red-color: #eb2424dc;
    --black-color: #000000;
    --gray-color: #161716;
    --gray2-color: #242726;
    --lightgray-color: #353a3a;
  
  }